extends ../layouts/default

block css
	style.
		body, html {
		height: 100%;
		margin: 0;
		}


		.bg {
			/* The image used */
			transition: background 1s linear;


			background-image: url('#{images[0]._.image.fill(1300,800)}');

			/* Full height */
			height: 100%;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			}
block content


	.bg.d-flex.flex-column.align-items-center.justify-content-center
		a.btn.btn-primary.btn-lg(style='opacity: .9;padding:3rem;',href='/paintings',role='button') Enter Site


block page-js
	script.
		function findSize() {
		var w = window.innerWidth;
		var h = window.innerHeight;
		}
		$img = '#{images[1]._.image.fill(1300,800)}'

		setTimeout(function() {
					$('.bg').css('background-image', 'url(' + $img + ')');

		},4000)
		


		